<div class="app-wrapper">
  <div>
    <mat-card class="app-card-switcher">
      <mat-card-content>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <span class="spacer"></span>
          <a *ngFor="let link of links | keyvalue"
             mat-tab-link
             routerLink="{{link.value.routeLink}}"
             routerLinkActive
             #rla="routerLinkActive"
             (click)="activeLink = link.key.toString()"
             [active]="rla.isActive">
            {{link.value.linkName}}
          </a>
          <span class="spacer"></span>
        </nav>
      </mat-card-content>
    </mat-card>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>

